@import './theme.css';


.skills-container {
    position: relative;

    width: 500px;
    height: 125px;

    border: var(--border-weight) solid var(--outline-color);
    border-radius: var(--border-rad);

    overflow: hidden;

    background-color: var(--window-color);

    z-index: 1;
}

.skills-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    top: 0;
    bottom: 0;
    background-color: var(--window-top);

    pointer-events: none;

    border-bottom: var(--border-weight) solid var(--outline-color);

    z-index: 2;
}